body {
  width: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  background-image: url('background.png');
}
main {
  margin: 16px auto;
  padding: 24px;
  width: 45%;
  min-width: 400px;
  max-width: 600px;
  background-color: #fff7;
  box-shadow: 0px 0px 24px 24px #fff7;
}
p {
  text-align: justify;
}
header {
  font-size: 32px;
  font-weight: bold;
  display: block;
  margin: 32px;
}
table {
  width: calc(100% - 36px);
  margin: 32px auto 40px;
  border-spacing: 0;
  border-collapse: collapse;
}
th, td {
  border-width: 1px;
  border-color: #333;
  border-style: solid;
  margin: 0;
  padding: 6px;
}
th {
  text-align: left;
  background-color: #333;
  color: #fff;
}
th[colspan="3"] {
  background-color: #ccc;
  color: #333;
}
td i {
  margin-right: 4px;
}
td a {
  margin-right: 10px;
}
code {
  font-family: 'Fira Mono', monospace;
  width: 100%;
}
code .keyword {
  color: #33c;
}
code .keyword:hover {
  font-weight: bold;
  border-radius: 4px;
  border-width: 1px;
  border-color: #33c;
  background-color: #ccf;
}
code .operator {
  color: #3c3;
}
code .operator:hover {
  font-weight: bold;
  border-radius: 4px;
  border-width: 1px;
  border-color: #3c3;
  background-color: #cfc;
}
code .variable {
  color: #c33;
}
code .variable:hover {
  font-weight: bold;
  border-radius: 4px;
  border-width: 1px;
  border-color: #c33;
  background-color: #fcc;
}
code .pattern:hover {
  font-weight: bold;
  border-radius: 4px;
  border-width: 1px;
  border-color: #777;
  background-color: #ccc;
}
pre {
  text-align: left;
  color: #333;
  background-color: #fffc;
  box-shadow: 0px 0px 12px 12px #fffc;
  max-height: 512px;
  /*transition: max-height 0.5s ease-in;*/
  width: calc(100% - 52px);
  overflow: hidden;
  margin: 18px;
  padding: 8px;
}
pre:not([show]) {
  max-height: 0;
  padding: 0;
  box-shadow: none;
  /*transition: max-height 0.5s ease-out;*/
}
.latest {
  background-color: #aea;
}
.recent {
  background-color: #eea;
}
.outdated {
  background-color: #eaa;
}
ul.features {
  list-style-type: none;
}
.features {
  margin: 16px;
  padding-left: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}
.feature {
  margin: 8px;
}
#logo {
  width: 45%;
  margin: 32px;
  max-width: 500px;
}

@media only screen and (min-device-width: 769px) {
  .feature:nth-child(odd) {
    grid-column: 1;
  }
  .feature:nth-child(even) {
    grid-column: 2;
  }
}

@media only screen and (max-device-width: 768px) {
  main {
    margin: 16px auto;
  }
  main table {
    width: 100%;
    font-size: 14px;
  }
  header {
    font-size: 48px;
  }
  .feature {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  #logo {
    width: 80%;
    margin: unset;
    min-width: unset;
  }
}
