body {
  width: 100%;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  background-image: url('background.png');
  background-position: center;
}
main {
  margin: 16px auto;
  padding: 24px;
  width: 45%;
  min-width: 400px;
  max-width: 600px;
  background-color: #fff7;
  box-shadow: 0px 0px 24px 24px #fff7;
}
p {
  text-align: justify;
  line-height: 1.4em;
}
header {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  margin: 32px 16px;
}
header.small {
  font-size: 20px;
  text-align: left;
  margin: 24px 16px;
}
table {
  width: calc(100% - 36px);
  margin: 32px auto 40px;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left;
}
th, td {
  border-width: 1px;
  border-color: #333;
  border-style: solid;
  margin: 0;
  padding: 6px;
}
th {
  background-color: #333;
  color: #fff;
}
th[colspan="3"] {
  background-color: #ccc;
  color: #333;
}
td i {
  margin-right: 4px;
}
td a {
  margin-right: 10px;
}
code {
  font-family: 'Fira Mono', monospace;
  font-size: 16px;
  cursor: default;
  width: 100%;
}
code .keyword {
  color: #33c;
}
code .operator {
  color: #3c3;
}
code .variable {
  color: #c33;
}
code .literal {
  color: #c3c;
}
pre {
  text-align: left;
  color: #333;
  max-height: 512px;
  width: calc(100% - 52px);
  margin: 16px;
  padding: 8px;
}
.latest {
  background-color: #aea;
}
.recent {
  background-color: #eea;
}
.outdated {
  background-color: #eaa;
}
#logo {
  width: 45%;
  margin: 32px;
  margin-bottom: 0;
  max-width: 500px;
}
#logo-text {
  font-size: 64px;
  margin-top: 0;
  letter-spacing: 16px;
  text-indent: 16px;
}

@media only screen and (min-device-width: 769px) {
  .small-spacer {
    display: none;
  }
}

@media only screen and (max-device-width: 768px) {
  main {
    margin: 16px auto;
  }
  main table {
    width: 100%;
    font-size: 14px;
  }
  header {
    font-size: 48px;
  }
  header.small {
    font-size: 28px;
    text-align: unset;
  }
  pre {
    margin: 16px auto;
    width: unset;
  }
  code {
    margin: 0 auto;
  }
  .large-spacer {
    display: none;
  }
  #logo {
    width: 80%;
    margin: unset;
    min-width: unset;
  }
}
