* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100%;
    text-align: center;
}

body > * {
    margin: 0 auto;
}

body table {
    width: 30%;
    min-width: 300px;
}

heading {
    font-size: 32px;
    font-weight: bold;
    display: block;
    margin: 16px;
}

th, td {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    margin: 0;
    padding: 6px;
}

th {
    background-color: #000;
    color: #fff;
}

th[colspan="3"] {
    text-align: left;
    background-color: #ccc;
    color: #000;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
