* {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}
body {
    width: 100%;
    margin: 0;
    text-align: center;
}
main {
    margin: 16px auto;
    padding: 24px;
    width: 40%;
    min-width: 400px;
}
main #logo {
    width: 90%;
    margin: 32px;
    max-width: 500px;
}
main p {
    text-align: justify;
}
main table {
    width: 100%;
}
.table-spacer {
    padding: 18px;
}
header {
    font-size: 32px;
    font-weight: bold;
    display: block;
    margin: 32px;
}
th, td {
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    margin: 0;
    padding: 6px;
}
th {
    text-align: left;
    background-color: #000;
    color: #fff;
}
th[colspan="3"] {
    background-color: #ccc;
    color: #000;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.latest {
    background-color: #bfb;
}
.recent {
    background-color: #ffb;
}
.outdated {
    background-color: #fbb;
}

@media only screen and (min-device-width: 769px) {
    body {
        background-image: url('assets/background.png');
        background-repeat: all;
    }
    main {
        background-color: #fffa;
        box-shadow: 0px 0px 24px 24px #fffa;
    }
}

@media only screen and (max-device-width: 768px) {
    main {
        margin: 16px auto;
    }
    main > div > img {
        width: 90%;
        margin: unset;
        min-width: unset;
    }
    main table {
        width: 100%;
        font-size: 14px;
    }
    header {
        font-size: 48px;
    }
}
